{
    "env": {
        "browser": true,
        "es6": true,
        "jest": true,
        "node": true,
        "commonjs": true
    },
    "extends": "eslint:recommended",
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true
        }
    },
    "plugins": [
        "@typescript-eslint",
        "import"
    ],
    "settings": {
        "import/internal-regex": db/|emailTemplates/|hooks/|middleware/|models/|services/|utils/|values/|authentication|declarations|types,
    },
    "rules": {
        "strict": 0,
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "double"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-trailing-spaces": [
            "error"
        ],
        "no-unused-vars": off,
        "max-len": [
            "error",
            {"code": 120}
        ],
        "no-console": [
            "off"
        ],
        "no-multiple-empty-lines": [
            "error",
            {"max": 1}
        ],
		"prefer-const": [
			"error",
			{"destructuring": "all"}
		],
		"no-var": [
            "error"
        ],
        "object-curly-spacing": [
            "error",
            "never"
        ],
        "array-bracket-spacing": [
            "error",
            "never"
        ],
        "arrow-parens": [
            "error"
        ],
        "arrow-spacing": [
            "error"
        ],
        "space-infix-ops": [
            "error"
        ],
        "no-multi-spaces": [
            "error",
            {
                "ignoreEOLComments": true
            }
        ],
        "keyword-spacing": [
            "error"
        ],
        "space-unary-ops": [
            "error"
        ],
        "brace-style": [
            "error",
            "1tbs",
            {
                "allowSingleLine": true
            }
        ],
        "@typescript-eslint/no-unused-vars": [
            "error"
        ],
        "import/first": ["error"],
        "import/order": [
            "error",
            {
                "alphabetize": {
                    "order": "asc",
                    "caseInsensitive": false
                },
                "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
                "newlines-between": "ignore"
            }
        ],
    }
}
