services:
    backend:
        build:
            context: ./backend
            dockerfile: Dockerfile.development
        command: npm start
        depends_on:
        - backend-database-migrate
        - backend-database
        image: backend
        links:
        - backend-database
        ports:
        - 5000:5000
        volumes:
        - ./backend/:/backend
        - backend-deps:/backend/node_modules
        - backend-lib:/backend/lib
    backend-database:
        build:
            context: ./backend-database
        environment:
            POSTGRES_DB: app-database
            POSTGRES_PASSWORD: app-database-password
            POSTGRES_USER: app-database-user
        image: database
        volumes:
        - backend-database-data:/var/lib/postgresql/data
    backend-database-migrate:
        build:
            context: ./backend
            dockerfile: Dockerfile.development
        command: sh -c "npm run db:retryable-migrate && npm run db:seed"
        depends_on:
        - backend-database
        image: backend
        links:
        - backend-database
    frontend:
        build:
            args:
                app_env: development
            context: ./frontend
            dockerfile: Dockerfile.development
        image: frontend
        ports:
        - 3000:3000
        volumes:
        - ./frontend/:/frontend
        - frontend-deps:/frontend/node_modules
    frontend-storybook:
        command: npm run storybook
        image: frontend
        ports:
        - 9009:9009
        volumes:
        - ./frontend/:/frontend
        - frontend-storybook-deps:/frontend/node_modules
    marketing:
        build:
            args:
                app_env: development
            context: ./marketing
            dockerfile: Dockerfile.development
        image: marketing
        ports:
        - 3002:3000
        volumes:
        - ./marketing/:/marketing
        - marketing-deps:/marketing/node_modules
version: '2'
volumes:
    backend-database-data:
        driver: local
    backend-deps:
    backend-lib:
    frontend-deps:
    frontend-storybook-deps:
    marketing-deps:
