@import "@/styles/_shared";

.ChartContainer {
    @include card-shadow();

    align-items: flex-start;
    background-color: $color-light;
    border-radius: $border-radius-large;
    display: flex;
    flex-direction: column;
    width: 100%;
}
