@import "@/styles/_media_queries";

/** Size Scale **/

$size-50: 2px;
$size-100: 4px;
$size-200: 8px;
$size-300: 12px;
$size-400: 16px;
$size-500: 24px;
$size-600: 32px;
$size-700: 48px;
$size-800: 64px;
$size-900: 96px;

/** Z Index Scale**/

// Forms
$z-index-input: 1;
$z-index-dropdown: $z-index-input + 1;
$z-index-autocomplete-suggestions: $z-index-input + 1;

// Bulk Transaction Actions
//
// The reason it needs to be 1 more than z-index-dropdown is so that, if one sticky bulk actions
// overlaps a non-sticky bulk actions, the dropdown of the non-sticky bulk actions is below
// the sticky bulk actions.
//
// Note that it also has the secondary constraint of having to be less than $z-index-background-blur,
// so that the TransactionsImportEditForm can open over top the actions.
$z-index-bulk-transaction-actions: $z-index-dropdown + 1;

// Toasts
$z-index-toasts: $z-index-bulk-transaction-actions + 1;

// Modals/Dialogs
$z-index-background-blur: $z-index-toasts + 1;
$z-index-app-navigation-small: $z-index-background-blur;
$z-index-modal: $z-index-background-blur + 1;
$z-index-splash-screen: $z-index-modal + 1;

/** Semantic Sizes **/

$size-app-padding-horizontal-small: $size-200;
$size-app-padding-horizontal-medium: $size-400;
$size-app-padding-horizontal-large: $size-600;

// Experimentally derived. Past this general width, the nav bar starts taking on far too much
// padding between the elements. It looks much better with a constrained width on a large
// phone (e.g. Pixel XL) than with a much of white space between everything.
$size-app-navigation-small-max-width: 500px;

$size-input-height: 46px;
$size-input-height-small: 40px;

// Why have a button height that is separate from the input height?
// Because I wanted the 'small' height to be taller for buttons on mobile.
// In the end, I just wanted the height to always be the same, cause I like the look of the 'tall'
// buttons on mobile; they feel more _substantial_.
$size-button-height: $size-input-height;
$size-button-height-small: $size-button-height;

$size-fab-diameter: 56px;

// This is shared between several pieces of the auth forms (as a width, as a transform amount, etc).
$size-auth-form-max-width: 360px;

// This is the dimensions (height/width) of the AlternativeAuthForm once it
// is a square on a sufficiently large screens.
$size-alt-auth-form-square: 250px;

// Need this as a global variable so that it can be exported to JavaScript for
// the underline calculations.
$size-tab-bar-spacing: $size-600;

// Need this as a global variable because the Lists need to use the same spacing value
// to push the ListSectionHeaders inline with the content of the ListItem.
$size-list-item-left-padding: $size-300;

// Need this as a global variable because the End of Day Balance in the TransactionsList
// needs this value to align itself properly.
$size-list-item-right-padding: $size-700 - $size-200;

// This is the recommended touch target size (48px).
// Reference: https://material.io/develop/web/components/touchtarget.
$size-touch-target: $size-700;

// These are the standard sizes for an icon.
// Small is for mobile.
$size-icon-small: 16px;
$size-icon: 24px;

// Yes, the icon button needs a non-standard amount of padding. This is so it has
// just the right amount of padding beyond the edges of the icon to form a nice circle.
$size-icon-button-padding: 6px;

// This is max width of the body of a Transactions Import step.
// Needs to be global since it's shared between all of the steps.
$size-transactions-import-step-width: 400px;

// This is amount of padding to apply to full-width elements used in the transactions import
// process on desktop (e.g. the transactions table).
$size-transactions-import-full-width-padding: 5vw;

// This is the width of the cards for the TransactionsSummary.
$size-transactions-summary-card: 250px;

/** Makes sure the element's height is consistent across breakpoints.
 *
 *  @param include-width Whether the width should be included to be the same size as the height.
 *                       This is useful for things like the Loading Spinner (and buttons that
 *                       mimic the shape of the Loading Spinner), since they need to be square.
 */
@mixin input-height($include-width: false) {
    height: $size-input-height-small;

    @if $include-width {
        width: $size-input-height-small;
    }

    @include media-query-small {
        height: $size-input-height;

        @if $include-width {
            width: $size-input-height;
        }
    }
}

@mixin button-height($include-width: false) {
    height: $size-button-height-small;

    @if $include-width {
        width: $size-button-height-small;
    }

    @include media-query-small {
        height: $size-button-height;

        @if $include-width {
            width: $size-button-height;
        }
    }
}
