@import "./_media_queries";
@import "./_sizes";

/* Shared Table Column Definitions */

// Can afford date to be smaller on small screens because its font size shrinks slightly.
$col-date: 135px;
$col-date-large: 155px;

/* Transactions Table Column Definitions */

$col-type: 36px;

$col-description: 2.5fr;
$col-amount: minmax(90px, 100px);

// Need auto on the accounts so that the column shrinks to fit the (first) account in the
// compressed view.
$col-account: auto;
$col-account-large: minmax(100px, 1fr);

$col-actions: 50px;

$col-balance: minmax(90px, 100px);

/* Import Rules Table Column Definitions */

$col-rule: auto;

/* Transactions Table Definitions */

$transactions-table-gap: $size-500;
$transactions-table-large-width: 900px;

/* General Table Mixins */

@mixin table-grid() {
    align-items: center;
    column-gap: $size-500;
    display: grid;
    padding: $size-100 $size-200;
    width: 100%;
}

/* Transactions Table Mixins */

// The following three mixins are used to denote 3 of the 4 states that the table could be in:
//
// 1. Compressed (default state; no mixin)
// 2. Full (transactions-table-full)
// 3. Compressed, With Running Balance (transactions-table-with-running-balance)
// 4. Full, With Running Balance (transactions-table-with-running-balance-full)
//
// We have separate mixins so that we can assign different grid layouts for each state.

@mixin transactions-table-full() {
    // Instead of using a media query to dictate when the table should change views,
    // we're instead using just a class that is conditionally added by some JavaScript.
    //
    // This way, we're changing the dynamic from "adjust table when screen size changes" to
    // "adjust table when table width changes".
    //
    // We want to do this because there'll be future cases (i.e. Account Details) where the
    // TransactionsTable will be placed into a constrained width _by default_, but the screen
    // size won't be any smaller. As such, we need to make the table responsive to its own width.
    @at-root .TransactionsTable--full & {
        @content;
    }
}

@mixin transactions-table-with-running-balance() {
    @at-root .TransactionsTable--running-balance & {
        @content;
    }
}

@mixin transactions-table-with-running-balance-full() {
    @at-root .TransactionsTable--running-balance.TransactionsTable--full & {
        @content;
    }
}

@mixin transactions-table-grid($is-header: false) {
    @include table-grid();

    // This first set of templates is for when the table is in the 'compressed' layout.
    // That is, when the Description, From, and To columns are compressed into a 'single' column.
    @if $is-header {
        // Basically, the only difference between `is-header` vs not `is-header`, is that the
        // there's an extra auto column.
        // This is so that the From and To headers can be put all together with the Description
        // header in one 'column'.
        grid-template-columns:
            $col-type
            $col-date
            $col-account
            $col-account
            $col-description
            $col-amount
            $col-actions;

        @include transactions-table-with-running-balance {
            grid-template-columns:
                $col-type
                $col-date
                $col-account
                $col-account
                $col-description
                $col-amount
                $col-balance
                $col-actions;
        }
    } @else {
        // This is the compressed layout of the table.
        grid-template-columns:
            $col-type
            $col-date
            $col-account
            $col-description
            $col-amount
            $col-actions;

        @include transactions-table-with-running-balance {
            // This is the compressed layout with the Balance column.
            grid-template-columns:
                $col-type
                $col-date
                $col-account
                $col-description
                $col-amount
                $col-balance
                $col-actions;
        }
    }

    @include transactions-table-full {
        // This is the full layout of the table; each data point gets its own column.
        grid-template-columns:
            $col-type
            $col-date-large
            $col-description
            $col-amount
            $col-account-large
            $col-account-large
            $col-actions;
    }

    @include transactions-table-with-running-balance-full {
        // This is the full layout with the Balance column.
        grid-template-columns:
            $col-type
            $col-date-large
            $col-description
            $col-amount
            $col-account-large
            $col-account-large
            $col-balance
            $col-actions;
    }
}

/* Selectable Accounts List Definitions */

// Yes, I know the SelectableAccountsList is a _list_ and a not a _table_, but since it uses
// grid definitions, it's whatever.
//
// Maybe I'll just rename this file to _grid...

@mixin selectable-accounts-list-grid($vertical-padding: true) {
    display: grid;
    gap: $size-400;
    grid-template-columns: $size-icon 3fr 2fr;

    @if $vertical-padding {
        padding: $size-200;
    } @else {
        padding: 0 $size-200;
    }

    &#{&}--no-balance {
        grid-template-columns: $size-icon 1fr;
    }
}

/* Import Rules Table Definitions */

@mixin import-rules-table-grid() {
    @include table-grid();

    grid-template-areas: "date rule actions";
    grid-template-columns: $col-date-large $col-rule $col-actions;
}
