@import "styles/_shared.scss";

.ChangePasswordForm {
    display: grid;
    gap: $size-500;
    width: 100%;

    .ChangePasswordForm-header {
        font-size: $font-size-400;
        font-weight: $font-weight-bold;
    }

    .ChangePasswordForm-LabelledInput {
        @include media-query-small {
            max-width: 400px;
        }
    }

    .ChangePasswordForm-SubmitButton {
        @include media-query-small {
            // Increase the width so that the 'Network error - try again later' message
            // can display on one line.
            max-width: 250px;
        }
    }
}
